@import '@stylesheets/lib/library';
@import 'react-tooltip/dist/react-tooltip.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.react-icons {
  display: inline-block;
  vertical-align: text-bottom;

  & + span,
  span + & {
    margin-left: 5px;
  }
}

@layer components {
  .absolute-center {
    @include absolute-center();
  }

  .card {
    display: block;
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.2xl');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
}

input {
  outline: none;
}