@import '@stylesheets/lib/library';

.root {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  background-color: $navbar-bg-color;
  color: $navbar-text-color;

  .auth-container {
    margin-left: auto;

    & > div {
      margin: 5px 10px;
    }
  }
}