@mixin flex-visible-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin grid-visible-menu {
  display: grid;
  grid-auto-rows: minmax(120px, auto);
  grid-auto-columns: minmax(120px, auto);
}

$distance: 10px;

.root {
  position: relative;

  &.hover:hover .menu-list {
    margin-top: 0;
    &.flex {
      @include flex-visible-menu;
    }

    &.grid {
      @include grid-visible-menu;
    }
  }
}

.hoverable-space {
  width: 100%;
  height: $distance;
  background-color: transparent;
}

.menu-list {
  position: absolute;
  display: none;
  overflow: hidden;

  margin: {
    top: $distance;
    left: 0;
    bottom: 0;
    right: 0;
  }
  padding: 0;
  list-style: none;

  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1.5px 3px 1px #7d7d7d;

  &.position-left {
    left: 0;
  }

  &.position-right {
    right: 0;
  }

  &.flex.visible {
    @include flex-visible-menu;
  }

  &.grid.visible {
    @include grid-visible-menu;
  }

  .menu-item {
    margin: 0;
    padding: 5px;
    width: 100%;
  }
  
}


